{% load static %}
<!-- Scripts de sidebar -->
<script src="{% static 'js/sidebar.js' %}"></script>

<!-- Scripts de sweet Alert para alertas personalizadas -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- CDN de Tailwind como respaldo -->
<script src="https://cdn.tailwindcss.com"></script>

<!-- Configuracion de paleta de colores en Tailwind -->
<script src="{% static 'js/tailwind-config.js' %}"></script>

<!-- Modal -->
<script src="{% static 'js/modal.js' %}"></script>

<!-- Messages -->
<script src="{% static 'js/message.js' %}"></script>

<!-- Loading Component -->
<script src="{% static 'js/loading.js' %}"></script>

<!-- Modal de eliminacion para cualquier template -->
<script src="{% static 'js/delete.js' %}"></script>

<!-- Module Search Component -->
<script src="{% static 'js/module_search.js' %}"></script>

